<div class="acceuil-container" id="home-section">
    <div class="description">
        <div class="presentation">
            <div class="nom">
                <h1> <span id="nom-famille">Rakotondrazay</span> <br> <span id="prenom">Niainatahiry Sarobidy</span></h1>
            </div>
            <div class="biographie">
                <p id="bio-p">
                    Étudiant passionné de programmation, je suis constamment à la recherche de nouveaux défis pour améliorer mes compétences. Ma approche compétitive, mon perfectionnisme et ma créativité innovante me poussent à fournir un travail de qualité et à atteindre constamment de nouveaux objectifs.
                </p>
            </div>
        </div>
        <div class="reseaux-sociax-main-container">
            <div class="ligne-reseau" id="ligne-reseau"></div>
            <div class="reseau-sociaux-container">
                <div class="reseaux-icon" id="facebook-icon"><img src="/images/icons8-facebook-50.png" alt=""></div>
                <div class="reseaux-icon"id="github-icon"><img src="/images/icons8-github-50.png" alt=""></div>
            </div>
        </div>

    </div>
    
    <div class="photo-container">
        <div class="absolute-photo-position">
            <div class="photo">
                <div class="shape-container">
                    <img src="/images/pngegg.png" alt="">
                </div>
            </div>
            <div class="my-picture">
                <img src="/images/photo.jpg" alt="" class="picture">
            </div>
        </div>


    </div>
</div>