
<div class="section" id="competence-section">
    <div class="section-mes-compétences">
        <div class="avant-section-ligne"></div>
        <span>Mes compétences</span>
    </div>
    <div class="liste-competence">
        <div class="one-skill">
            <div class="nom-competence">
                <h3>HTML 5 & CSS 3</h3>
                <span>80%</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar-container">
                    <div class="my-progress" id="html-css"></div>
                </div>
            </div>
        </div>
        <div class="one-skill">
            <div class="nom-competence">
                <h3>Angular</h3>
                <span>60%</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar-container">
                    <div class="my-progress" id="angular"></div>
                </div>
            </div>
        </div>
        <div class="one-skill">
            <div class="nom-competence">
                <h3>React</h3>
                <span>60%</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar-container">
                    <div class="my-progress" id="react"></div>
                </div>
            </div>
        </div>
        <div class="one-skill">
            <div class="nom-competence">
                <h3>Symfony</h3>
                <span>55%</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar-container">
                    <div class="my-progress" id="php"></div>
                </div>
            </div>
        </div>
        <div class="one-skill">
            <div class="nom-competence">
                <h3>Django</h3>
                <span>40%</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar-container">
                    <div class="my-progress" id="django"></div>
                </div>
            </div>
        </div>
        <div class="one-skill">
            <div class="nom-competence">
                <h3>UI/UX Design</h3>
                <span>20%</span>
            </div>
            <div class="progress-bar">
                <div class="progress-bar-container">
                    <div class="my-progress" id="UI-UX-design"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
