<header>
    <div class="header-container"> 
        <div class="menu-button">
            <div class="image-container">
                <img src="/images/icons8-menu-50.png" alt="" class="toggle-button">

                <div class="menu-navigation">

                    <div class="close-icone">
                        <img src="/images/icons8-close-50.png" alt="" class="close">
                    </div>

                    <div class="lien-container">
                        <div class="lien"><a href="#home-section">home</a></div>
                        <div class="lien"><a href="#specialite">spécialité</a></div>
                        <div class="lien"><a href="#competence-section">compétence</a></div>
                        <div class="lien"><a href="#projets-section">projets</a></div>                        
                    </div>

                </div>

            </div>
    </div>
        
    </div>
</header>