<header>
    <div class="header-container"> 
        <div class="menu-button">
            <div class="image-container">
                <img src="/images/icons8-menu-50.png" alt="" class="toggle-button">

                <div class="menu-navigation">

                    <div class="close-icone">
                        <img src="/images/icons8-close-50.png" alt="" class="close">
                    </div>

                    <div class="lien-container">
                        <div class="lien"><a href="">home</a></div>
                        <div class="lien"><a href="">compétence</a></div>
                        <div class="lien"><a href="">éxpérience</a></div>
                        <div class="lien"><a href="">projets</a></div>
                        <div class="lien"><a href="">contact</a></div>
                    </div>

                </div>

            </div>
    </div>
        
    </div>
</header>