<div class="mes-projets-container">
	<section class="Angular-projet">
		<div class="section-photo-projet">
			<div class="photo-projet-container">
				<div class="decorative-photo">
					<div class="carré"></div>

					<img
						src="/images/angularmétéo.png"
						alt=""
					/>
					<div class="carré2"></div>
				</div>
			</div>
		</div>

		<div class="section-descritption-projet">
			<div class="description-container">
				<h2>Projet application Météo - Angular</h2>
				<p>
					"L'application météo, créée avec Angular, offre une expérience
					utilisateur fluide pour obtenir rapidement les prévisions
					météorologiques. <br />
					Utilisant des API en ligne, elle propose des informations
					météorologiques précises et à jour. Grâce à une interface intuitive,
					les utilisateurs peuvent consulter facilement les prévisions pour leur
					emplacement ou d'autres endroits du monde, faisant de cette
					application un outil pratique pour rester informé sur les conditions
					météorologiques."
				</p>
			</div>
		</div>
	</section>
	<section class="django-project">
		<div class="section-descritption-projet">
			<div class="description-container">
				<h2>Projet gestion d'évènement d'entreprise - Django/React</h2>
				<p>
					En tant que développeur passionné, je suis actuellement impliqué dans
					la création d'un Gestionnaire d'Événements d'Entreprise, une
					application web qui simplifie la planification et la gestion
					d'événements pour les entreprises. Pour assurer une expérience
					utilisateur fluide et réactive, j'ai choisi d'intégrer la puissance de
					Django pour le backend et React pour le frontend.
				</p>
			</div>
		</div>
		<div class="section-photo-projet">
			<div class="photo-projet-container">
				<div class="decorative-photo">
					<div class="carré2"></div>
					<img
						src="/images/django_event.png"
						alt=""
					/>
					<div class="carré"></div>
				</div>
			</div>
		</div>
	</section>
</div>
