<div class="mes-projets-container">
	<section class="Angular-projet">
		<div class="section-photo-projet">
			<div class="photo-projet-container">
				<div class="decorative-photo">
					<div class="carré"></div>

					<img
						src="/images/angularmétéo.png"
						alt=""
					/>
					<div class="carré2"></div>
				</div>
			</div>
		</div>

		<div class="section-descritption-projet">
			<div class="description-container">
				<h2>Projet Angular</h2>
				<p>
					"L'application météo, créée avec Angular, offre une expérience
					utilisateur fluide pour obtenir rapidement les prévisions
					météorologiques. <br>
                    Utilisant des API en ligne, elle propose des
					informations météorologiques précises et à jour. Grâce à une interface
					intuitive, les utilisateurs peuvent consulter facilement les
					prévisions pour leur emplacement ou d'autres endroits du monde,
					faisant de cette application un outil pratique pour rester informé sur
					les conditions météorologiques."
				</p>
			</div>
		</div>
	</section>
</div>
