<div class="competence-container" id="specialite">
	<!-- <img
		src="/images/pngegg (1).png"
		alt=""
	/> -->
	<div class="compétence">
		<div class="front-end">
			<div class="front-end-text">
				<h3 id="front-h3">Front-end</h3>
				<p id="front-p">
					"Passionné de développement front-end, je marie l'art et la
					technologie pour créer des expériences utilisateur exceptionnelles.
					Expert en HTML5, CSS3, SCSS, et JavaScript (ES6+), je conçois des
					interfaces réactives et des animations fluides avec une spécialisation
					dans React.js. Mon objectif : repousser les limites du design web,
					faire de chaque projet une vitrine esthétique de mes compétences
					front-end."
				</p>
			</div>
		</div>
		<div class="design">
			<div class="design-text">
				<h3 id="design-h3">Design</h3>
				<p id="design-p">
					"Pas le designer classique derrière Illustrator, ajustant
					minutieusement les pixels, mais créatif. Bien que non expert en outils
					comme Illustrator, je m'efforce toujours d'innover. Plongé dans les
					styles, ajustant tailles de police et mises en page, c'est là que vous
					me trouverez (~_^). Engagé dans la création d'expériences utilisateur
					fluides, restant à la pointe de la mode."
				</p >
			</div>
		</div>
	</div>
</div>